.nav-form {
    position: relative;
}

@media (min-width: 992px) {
    .nav-form {
        position: relative;
        margin-right: 90px;
    }

}

.navform-icon {
    color: #6c757d;
    position: absolute;
    left: 70px;
}

.search-input {
    text-align: center;
    width: 250px !important;
}

.search-input ::placeholder {
    text-align: center;
    padding-left: 70px !important;
    font-size: 14px;
}

.search-input :-moz-placeholder {
    text-align: center;
    padding-left: 18px;
    font-size: 14px;
}